<div class="ds row">
    <div class="ds col-md-6">
        <div class="ds card bg-primary ">
            <a routerLink="/todo/employee">Quản lý nhân viên</a>
        </div>
    </div>
    <div class="ds col-md-6">
        <div class="ds card bg-success">
            <a routerLink="/todo/division">Phân chia công việc</a>
        </div>
    </div>
    <div class="ds col-md-6">
        <div class="ds card bg-warning">
            <a routerLink="/todo/report">Báo cáo</a>
        </div>
    </div>
    <div class="ds col-md-6">
        <div class="ds card bg-secondary">
            <a routerLink="/todo/about">Giới thiệu</a>
        </div>
    </div>
</div>
