.login-wrap {
  background: linear-gradient(to top, rgba(40, 8, 63, 0.3), rgba(42, 4, 68, 0.8)), url('/assets/image/login-auth.jpg') no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #FFFFFF;

  .login-body {
    margin: auto;
  }
}
